@model BeanifyWebApp.Models.ProductModel

@{
    ViewBag.Title = "New Product";
}
<hr />
<h2>Add a New Product</h2>

@using (Html.BeginForm("Create", "MvcProductModels", FormMethod.Post,new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Description">Description</label>
        <div class="col-md-10">
            <textarea class="form-control text-box" id="Description" name="Description"
                      type="textarea" placeholder="Enter a description..." rows="4">
                        @if (!string.IsNullOrEmpty(ViewBag.EnteredDescription)) {
                            Html.Raw(ViewBag.EnteredDescription);
                        }</textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group form-check form-check-inline">
        <input class="form-control check-box" id="IsAvailable" name="IsAvailable" type="checkbox" value="false" />
        <input name="IsAvailable" type="hidden" value="true" />
        <label class="form-check-label" for="Out_of_stock">Out of stock</label>
    </div>

  
    <div class="form-group">
        <label for="file">Upload Image</label>
        <input type="file" name="file" id="file" style="width: 100%;"/>
        @if (ViewBag.NoImageError != null)
        {
            <div class="text-danger">@ViewBag.NoImageError</div>
        }
    </div>

    <div class="form-group">
        <div class="col-2">
            <input type="submit" value="Save" class="btn btn-block  btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
