@model BeanifyWebApp.Models.OrderModel

@{
    ViewBag.Title = "Details";
}


<div>
    <hr />
    <div class="jumbotron align-content-center">

        <h2>Order Overview</h2>
        <br/>
        <h3>@Model.CustomerName @(string.IsNullOrEmpty(Model.CompanyName)?"":Model.CompanyName)</h3>
        <h3>@Model.Quantity x @Model.ProductName</h3>
        <br/>
        <h4>Total @Html.DisplayFor(model=>model.Price)</h4>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

</div>