@model IEnumerable<BeanifyWebApp.Models.OrderModel>
@using BeanifyWebApp.Models

@{
    ViewBag.Title = "Index";
}

<hr />
<h2>Orders</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Customer
            </th>
            <th scope="col">
                Company
            </th>
            <th scope="col">
                Product
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr class='highlight cursor @(item.IsNew ? "table-info" : "table-light")' onclick="document.location='/MvcOrderModels/Details/@Html.Raw(item.Id) '">
            <th scope="row">
                @Html.DisplayFor(modelItem => item.CustomerName)
            </th>
            <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>


        </tr>
        
        }
        </tbody>
</table>
